In [1]:
import pandas as pd

In [72]:
class tidy_df():
    def __init__(self):
        self.indices = None
        self.columns = None
        self.values = list()
    
    def set_indices(self, df: pd.DataFrame, col_locs: tuple, header_row: int) -> pd.DataFrame:
        start, end = col_locs
        ind_df = df.iloc[header_row+1:,start:end+1]
        ind_df.columns = df.iloc[header_row,start:end+1]
        self.indices = ind_df
        return None
 
    def set_values(self, df: pd.DataFrame, col_start: int, col_width: int, header_row: int):
        col_names = list(df.iloc[header_row]
        
        i = col_start
        
        
        
        while i < len(df.columns) - col_start:
            print(df.iloc[header_row+1:, i:i+col_width])
            
            #print(df.iloc[header_row,i][-4:])
            i += col_width
        pass

In [27]:
filename1 = "data/DSD_MCD_R21_DYT20_Web.xlsx"

data_dict = pd.read_excel(filename1, sheet_name=0, header=1, nrows=14)
drug_costs = pd.read_excel(filename1, sheet_name=1, skiprows=1)

In [74]:
t = tidy_df()

t.set_values(drug_costs, 3, 6, 1)

       Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6   Unnamed: 7 Unnamed: 8
2
3          470.91     7992.4         49    0.05892     9.610408          1
4
5
6
...           ...        ...        ...        ...          ...        ...
4392  13004501.55  543593.51      15191  24.087063   856.066194          0
4393  79723771.22  3834143.6     102117  21.222024    780.71008          0
4394   32131449.1     458316       4080  70.107631  7875.355172          0
4395
4396

[4395 rows x 6 columns]
      Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12  Unnamed: 13 Unnamed: 14
2
3
4         406.33      3502.5          47    0.116011     8.645319           1
5
6       19004.32         122          81  155.773115   234.621235           1
...          ...         ...         ...         ...          ...         ...
4392  2441949.81      117888        3079   20.557214   793.098347           0
4393  8068179.93    432153.9       12458   20.483038   647.630433           0
4394  49068876.2      600610        5646   85.529176  8690.909706           0
4395  1280987.92  2283033.99        1269   22.695135  1009.446746           1
4396

[4395 rows x 6 columns]
      Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18  Unnamed: 19 Unnamed: 20
2
3          252.22       36845          84    0.006845     3.002619           1
4           213.7      2113.7          28    0.101102     7.632143           1
5
6        20505.63          71          67   288.81169   306.054179           1
...           ...         ...         ...         ...          ...         ...
4392   2208171.01       98239        2639   22.259382   836.745362           0
4393   6721211.74   345316.55        9343   22.876071   719.384752           1
4394  84519375.17      887417        9362  105.687873  9027.918732           0
4395     279105.8       12807          92  109.678234  3033.758696           1
4396    225928.93     2839713         761    0.115061   296.884271           0

[4395 rows x 6 columns]
      Unnamed: 21 Unnamed: 22 Unnamed: 23 Unnamed: 24   Unnamed: 25  \
2          914.89       14720         181    0.062153      5.054641
3          770.31   51334.454         121    0.015006      6.366198
4           79.36        1102          17    0.072015      4.668235
5           90.59    1221.433          15    0.074167      6.039333
6         2121.53          35          33   60.615143     64.288788
...           ...         ...         ...         ...           ...
4392   2018082.12       83418        2416   23.200531    835.298891
4393   6759416.06   295501.76        8879   28.828663    761.281232
4394  49624933.74      344872        4850  158.548347  10231.945101
4395    180991.29       17269          54   74.600066   3351.690556
4396    146040.51      706110         660     0.20134      221.2735

     Unnamed: 26
2              1
3              1
4              1
5              1
6              1
...          ...
4392           0
4393           0
4394           0
4395           1
4396           0

[4395 rows x 6 columns]
      Unnamed: 27 Unnamed: 28 Unnamed: 29 Unnamed: 30   Unnamed: 31  \
2          433.73        4600          49    0.094289      8.851633
3          322.51     15751.8          41    0.020474      7.866098
4          138.49      1483.5          19    0.093354      7.288947
5          204.19      1675.5          27    0.121868      7.562593
6        32255.83          64          69  503.997344    467.475797
...           ...         ...         ...         ...           ...
4392   1880206.77       78934        2265   22.715147    830.113364
4393   5312667.87   249442.75        7207   22.722319     737.15386
4394  34807960.04      227767        3414  162.801128  10195.653204
4395     69494.24       11863          43   20.024086   1616.145116
4396    109375.72     1043683         566      0.1381    193.243322

     Unnamed: 32
2              1
3              1
4              1
5              1
6              1
...          ...
4392           0
4393           0
4394           0
4395           1
4396           0

[4395 rows x 6 columns]

In [ ]:
test_df = pd.DataFrame({'a':[3,None, None], 'b':[5,4,None]})

In [ ]:
test_df.dropna()

In [ ]:
drug_costs

In [ ]:
df = get_indices(drug_costs)
df.head()